DATABASE_URL="postgresql://postgres.cubgfuthlcwviyslpkcy:[YOUR-PASSWORD]@aws-0-sa-east-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.cubgfuthlcwviyslpkcy:[YOUR-PASSWORD]@aws-0-sa-east-1.pooler.supabase.com:5432/postgres"
JWT_SECRET="claveSecreta"
JWT_EXPIRES_IN="24h"
PORT=8080
CLOUDINARY_URL=
CORS_ORIGIN=https://front.com